*{
    padding: 0;
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
    cursor: url("data:image/svg+xml,%3Csvg height='6' width='6' viewBox='0 0 8 8' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='4' cy='4' fill='%23eee' r='4'/%3E%3C/svg%3E") 3 3, auto;
   
}
/* dark mode disisni */
.dark-black{
  color: #0a45b1;
  background-color: #0a45b1;
}
/* disini tidak ada loading */
html{
  scroll-behavior: smooth;
}

img{
  display: inline-block;
}
/* Copy */
.copy{
  color:#ccc;
  text-decoration: none;

}
/* link */
.link{
  overflow: hidden;
  background-color: #0a45b1;
  border-style: outset;
  border-color: rgb(0, 69, 158);

}
.link a{
  float: left;
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family:calibri;
  border-radius: 3px;
  padding: 5px 10px;

}
.link a:hover{
     color: black;
}

/* background */
.d{
    height: 100vh;
    width:100%;
    border-style: outset;
}
.judul{
    text-align: center;
    padding: 80px;
    background-color: rgb(20, 65, 124)     ;
    color: rgb(255, 255, 255);
    font-family:calibri;
    border-style:outset;
    border-color: rgb(69, 120, 187);
    padding: 40px;
}
body
{
   
    background-repeat: no-repeat;
    background-size: cover;
}

/* nav isi */
.navbar  {
   
  height: 100vh;
  
  padding: 40px;
  list-style: none;
   
   
}
nav ul li{
  list-style: none;
}
  

/*Ini untuk mengatur Mode gelap */
body{
  padding: 25px;
  background-color: white;
  color: black;
}
.dark-mode .d{
  background-color: rgb(34, 24, 24);
  color: white; 
}
/* Ini adalah tombol untuk dark mode */
.btn{
  color: rgb(255, 255, 255);
}
button{
   color: rgb(80, 66, 66);
   border:4px solid #4c4c4d;
   border-radius: 2px;
   background-color: #5b5e66f8;
   padding: 7px ;
   margin-top:20px;
   margin-left:10px;
  top:-11px;
   position: relative;
}
button:hover{
  background-color: white;
  border:4px solid #eeeef3;
  color: black;
}
button .btn:hover{
   color: dimgray;
}
/* garis hr */
hr{
  border:0;
  height:1px;
  background-image: linear-gradient(to right,rgba(126, 109, 109, 0),rgba(0,0,0,75),rgba(116, 108, 108, 0));
  box-shadow: 0 0 10px 1px rgb(112, 105, 105);
  
}
/* ini untuk menu */
.menu-icon{
  width: 30px;
  cursor:pointer;
  display: none;
}
/* Judul Gambar */

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    border-style: outset;
  }

  /* Daftar isi C++ */
  div.gallery {
    margin: 8px;
    border: 0.5px outset #ccc;
    float: left;
    width: 175px;
   
  }
  
  div.gallery:hover {
    border: 3px outset #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 10px;
    text-align: left;
  }
  * {
    box-sizing: border-box;
  }
  
  .responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }

footer{
  display: block;
}
/* cover untuk note c++ */
a.active,a:hover{
  background: rgb(99, 115, 206);
  transition: .5s;
}
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
 
    .navbar nav ul a .Judulgambar{
      width:240px;
      height: 140px;
      position: relative;
    
    }
    div.gallery {
      margin: 5px;
      border: 0.5px outset #ccc;
      float:left;
      width: 75px;
     
    }
    .Judulgambar{
      margin:  -34px;
    }
    div.desc {
      padding: 8px;
      text-align: left;
      font-size: 10px;
    }
    
  }
  

  

  

  
  


